.border {
    width: 350px;
    margin-top: 5vh;
    padding: 10px 0 25px 0;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.1);
}

li {
    text-align: left;
    list-style: none
}